input[type="file"]::file-selector-button {
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(255, 152, 16);
}

input[type="file"] {
    height: 200px;
    width: 400px;
    color: transparent;
}

#logger {
    align-items: left;
    justify-content: center;
    display: flex;
    background-color: rgb(29, 29, 29);
    flex-direction: column;
    border-radius: 30px;

    padding: 20px;
    word-break: break-all;
    overflow-wrap: break-word;
}

#logger h2 {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}